body{
	background-color: lavender;
	color: grey;
	

}

h1 {
	font-size: 8em;
	text-align: center;
	text-shadow: 4px 4px 2px black;

}
H2 {
	font-size: 4em;
	text-align: center;
	text-shadow: 4px 4px 2px black;
}

h3 {
	font-size: 2em;
	text-align: center;
	text-shadow: 3px 3px 2px black;

}

a {
	text-align: center;
}

#trigger {
	text-align: center;
	border-style: groove;
}